<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ProductContext"
         connectionString="provider=vfpoledb;data source=Data\CodeFirst.dbc"
         providerName="VfpEntityFrameworkProvider2" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <!--<provider invariantName="VfpEntityFrameworkProvider2"
                type="VfpEntityFrameworkProvider.VfpProviderServices, VfpEntityFrameworkProvider" />-->
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
