<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <Component Id="CMP_MachineConfig_Net4"
               Guid="544A7FD0-7503-4C45-B6E0-F4D63371CFCD"
               Directory="INSTALLDIR"
               Transitive="yes">
      <CreateFolder/>
      <util:XmlConfig Id="MachineConfigNet4_DbProviderFactories"
                      File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\Config\machine.config"
                      Action="create"
                      On="install"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      VerifyPath="//configuration/system.data/DbProviderFactories/add[\[]@invariant='[INVARIANTNAME]'[\]]"
                      Name="add"
                      Node="element"
                      Sequence="1" />
      <util:XmlConfig Id="MachineConfigNet4_DbProviderFactories_Name"
                      File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\Config\machine.config"
                      ElementId="MachineConfigNet4_DbProviderFactories"
                      Name="name"
                      Value="[DISPLAYNAME]"
                      Sequence="2" />
      <util:XmlConfig Id="MachineConfigNet4_DbProviderFactories_Invariant"
                      File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\Config\machine.config"
                      ElementId="MachineConfigNet4_DbProviderFactories"
                      Name="invariant"
                      Value="[INVARIANTNAME]"
                      Sequence="2" />
      <util:XmlConfig Id="MachineConfigNet4_DbProviderFactories_Description"
                      File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\Config\machine.config"
                      ElementId="MachineConfigNet4_DbProviderFactories"
                      Name="description"
                      Value="[DESCRIPTION]"
                      Sequence="2" />
      <util:XmlConfig Id="MachineConfigNet4_DbProviderFactories_Type"
                      File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\Config\machine.config"
                      ElementId="MachineConfigNet4_DbProviderFactories"
                      Name="type"
                      Value="VfpEntityFrameworkProvider.VfpProviderFactory, VfpEntityFrameworkProvider, Version=!(bind.FileVersion.FILE_VfpEntityFrameworkProviderDll), Culture=neutral, PublicKeyToken=feace53afe38fe48"
                      Sequence="2" />
      <util:XmlConfig Id="MachineConfigNet4_DbProviderFactories_Uninstall"
                      File="[WindowsFolder]Microsoft.NET\Framework\v4.0.30319\Config\machine.config"
                      Action="delete"
                      On="uninstall"
                      ElementPath="//configuration/system.data/DbProviderFactories"
                      VerifyPath="//configuration/system.data/DbProviderFactories/add[\[]@invariant='[INVARIANTNAME]'[\]]"
                      Node="element"
                      Sequence="1" />
    </Component>
  </Fragment>
</Wix>