<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CMP_VfpEntityFrameworkProviderRegistry">
      <ComponentRef Id="CMP_Registry_VS2012"/>
      <ComponentRef Id="CMP_Registry_VS2013"/>
      <ComponentRef Id="CMP_Registry_VS2015"/>
    </ComponentGroup>
  </Fragment>
</Wix>