<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="VS2015APPID">
      <RegistrySearch Id="VS2015RegKey"
                      Type="raw"
                      Root="HKCU"
                      Key="SOFTWARE\Microsoft\VisualStudio\14.0_Config"
                      Name="ApplicationID" />
    </Property>

    <Component Id="CMP_Registry_VS2015"
               Directory="INSTALLDIR"
               Guid="{6C6D375A-960E-4F03-96B7-718D8C781D5F}"
               Transitive="yes">
      <RegistryKey Root ="HKCU"
                   Key="SOFTWARE\Microsoft\VisualStudio\14.0_Config">
        <RegistryKey Key="DataProviders">
          <RegistryKey Id="VS2015_VfpDataProviderRegistryKey"
                       Key="[VFPDATAPROVIDER]"
                       ForceCreateOnInstall="yes"
                       ForceDeleteOnUninstall="yes">
            <RegistryValue Type="string"
                           Value="[DISPLAYNAME]" />
            <RegistryValue Name="CodeBase"
                           Type="string"
                           Value="[INSTALLDIR]design\VfpClient.Design.dll" />
            <RegistryValue Name="AssociatedSource"
                           Type="string"
                           Value="[VFPDATASOURCE]" />
            <RegistryValue Name="Description"
                           Type="string"
                           Value="[DESCRIPTION]" />
            <RegistryValue Name="DisplayName"
                           Type="string"
                           Value="[DISPLAYNAME]" />
            <RegistryValue Name="InvariantName"
                           Type="string"
                           Value="[INVARIANTNAME]" />
            <RegistryValue Name="PlatformVersion"
                           Type="string"
                           Value="2.0" />
            <RegistryValue Name="ShortDisplayName"
                           Type="string"
                           Value="[INVARIANTNAME]" />
            <RegistryValue Name="Technology"
                           Type="string"
                           Value="77AB9A9D-78B9-4ba7-91AC-873F5338F1D2" />
            <RegistryKey Key="SupportedObjects">
              <RegistryKey Key="IDSRefBuilder">
                <RegistryValue Type="string"
                               Value="Microsoft.VisualStudio.Data.Framework.DSRefBuilder" />
                <RegistryValue Name="Assembly"
                               Type="string"
                               Value="Microsoft.VisualStudio.Data.Framework, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
              </RegistryKey>
              <RegistryKey Key="IVsDataAsyncCommand"
                           ForceCreateOnInstall="yes" />
              <RegistryKey Key="IVsDataCommand"
                           ForceCreateOnInstall="yes" />
              <RegistryKey Key="IVsDataConnectionPromptDialog">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.VfpDataConnectionPromptDialog" />
              </RegistryKey>
              <RegistryKey Key="IVsDataConnectionProperties">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.VfpConnectionProperties" />
              </RegistryKey>
              <RegistryKey Key="IVsDataConnectionSupport">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.VfpConnectionSupport" />
              </RegistryKey>
              <RegistryKey Key="IVsDataConnectionUIProperties">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.VfpConnectionProperties" />
              </RegistryKey>
              <RegistryKey Key="IVsDataMappedObjectConverter">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.VfpMappedObjectConverter" />
              </RegistryKey>
              <RegistryKey Key="IVsDataMappedObjectSelector">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.DataMappedObjectSelector" />
              </RegistryKey>
              <RegistryKey Key="IVsDataObjectIdentifierConverter"
                           ForceCreateOnInstall="yes" />
              <RegistryKey Key="IVsDataObjectIdentifierResolver">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.VfpDataObjectIdentifierResolver" />
              </RegistryKey>
              <RegistryKey Key="IVsDataObjectMemberComparer">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.VfpDataObjectMemberComparer" />
              </RegistryKey>
              <RegistryKey Key="IVsDataObjectSelector">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.SchemaSelector" />
              </RegistryKey>
              <RegistryKey Key="IVsDataObjectSupport">
                <RegistryValue Type="string"
                               Value="Microsoft.VisualStudio.Data.Framework.DataObjectSupport" />
                <RegistryValue Name="Assembly"
                               Type="string"
                               Value="Microsoft.VisualStudio.Data.Framework, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                <RegistryValue Name="XmlResource"
                               Type="string"
                               Value="VfpClient.Design.VfpDataObjectSupport" />
              </RegistryKey>
              <RegistryKey Key="IVsDataSourceInformation">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.DataSourceInformation" />
              </RegistryKey>
              <RegistryKey Key="IVsDataTransaction"
                           ForceCreateOnInstall="yes" />
              <RegistryKey Key="IVsDataViewSupport">
                <RegistryValue Type="string"
                               Value="Microsoft.VisualStudio.Data.Framework.DataViewSupport" />
                <RegistryValue Name="Assembly"
                               Type="string"
                               Value="Microsoft.VisualStudio.Data.Framework, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                <RegistryValue Name="XmlResource"
                               Type="string"
                               Value="VfpClient.Design.VfpDataViewSupport" />
              </RegistryKey>
              <RegistryKey Key="Microsoft.Data.ConnectionUI.IDataConnectionProperties">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.ConnectionUI.EF2VfpConnectionProperties" />
              </RegistryKey>
              <RegistryKey Key="Microsoft.Data.ConnectionUI.IDataConnectionUIControl">
                <RegistryValue Type="string"
                               Value="VfpClient.Design.ConnectionUI.VfpConnectionUIControl" />
              </RegistryKey>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Key="DataSources">
          <RegistryKey Id="VS2015VfpDataSourceRegistryKey"
                       Key="[VFPDATASOURCE]"
                       ForceCreateOnInstall="yes"
                       ForceDeleteOnUninstall="yes">
            <RegistryValue Type="string"
                           Value="[DISPLAYNAME]" />
            <RegistryValue Name="DefaultProvider"
                           Type="string"
                           Value="[VFPDATAPROVIDER]" />
            <RegistryKey Key="SupportingProviders">
              <RegistryKey Key="[VFPDATAPROVIDER]">
                <RegistryValue Name="Description"
                               Type="string"
                               Value="[DESCRIPTION]" />
                <RegistryValue Name="DisplayName"
                               Type="string"
                               Value="[DISPLAYNAME]" />
              </RegistryKey>
            </RegistryKey>
          </RegistryKey>
        </RegistryKey>
      </RegistryKey>
      <Condition>VS2015APPID = "VisualStudio"</Condition>
    </Component>
  </Fragment>
</Wix>