<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Property Id="UIFile"
         Value="1" />
    
    <UIRef Id="WixUI_InstallDir" />

    <Property Id="WIXUI_INSTALLDIR"
          Value="INSTALLDIR" />

    <WixVariable Id="WixUILicenseRtf"
             Value="License.rtf" />

    <!-- Banner 493x312 -->
    <!--<WixVariable Id="WixUIDialogBmp"
         Value="Background.bmp" />-->
    
    <!-- Banner 493x58 -->
    <!--<WixVariable Id="WixUIBannerBmp"
             Value="Banner.bmp" />-->
	</Fragment>
</Wix>